# =========================
# IDE: IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# Build / Maven / Gradle
# =========================
/target/
/build/
/.gradle/
/gradle-wrapper.jar
.gradle/
!gradle-wrapper.jar

# =========================
# Eclipse (caso alguém use)
# =========================
.project
.classpath
.settings/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Spring Boot
# =========================
/spring.log
spring-boot-devtools.properties

# =========================
# Arquivos temporários
# =========================
*.tmp
*.swp
*.bak
*.orig

# =========================
# Arquivos de teste e cobertura
# =========================
/coverage/
/*.ec
/*.em
